       <div class="footer d-flex justify-content-center">

        <div class="social-icons">
            <%= link_to "https://www.instagram.com/isabelmayfair/?hl=en" do %>
              <i class="fa-brands fa-instagram p-2 mb-4 fa-2x text-light"></i>
            <% end %>

            <%= link_to"https://www.facebook.com/isabelmayfairrestaurant/" do %>
              <i class="fa-brands fa-facebook-f p-2 mb-4 fa-2x text-light"></i>
            <% end %>
        </div>

      </div>
