  <div class="navbar d-flex justify-content-center" data-controller="scroll" data-action="scroll->scroll#scroll">
    <%= link_to "Home" %>
    <%= link_to "Menu" %>
    <%= link_to "Events" %>
    <%= link_to "The Dragon Room" %>
  </div>
