

<%= image_tag("Isabel.jpeg", class: "main-img") %>

<div class="container">
  <div class="row">
    <div class="col sm-6">
      <div class="mb-3">

  <h1 align="center">Isabel Mayfair</h1>

  <div class="home d-flex justify-content-center">
    <p class="res-btn"><%= link_to 'Reservations', "https://www.sevenrooms.com/reservations/isabelmayfair" %></p>
    <p class="events-btn"><%= mail_to 'tonyprp@gmail.com', "Events", subject: "Events" %></p>
  </div>

        </div>
      </div>
    </div>
</div>
