<div class="row ">
    <div class="col lg-12 sm-6">

      <div class="events d-flex flex-column align-items-center mt-5 mb-4">
        <h1>Private dining & events</h1>
        <p>We're all about bringing people together with elegance, quality and style</p>

        <%= mail_to "events@isabelw1.london", "Enquire Here", class: "res p-3 mt-5 rounded" %>

      </div>
      <%= image_tag("events.jpeg", class: "pdr-img") %>

    </div>
  </div>

  <div class="footer mt-5 p-5">
   <%= render "shared/footer" %>
  </div>
