body {
  background-color: #000000;
}

.banner {
  object-fit: fill;
  height: 800px;
  position: relative;
  margin-bottom: 40px;
}

.main-img {
  height: 800px;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
  position: relative;
}

.banner h1 {
  color: white;
  font-style: italic;
  position: absolute;
  top: 211px;
  font-size: 60px;
  text-align: center;
  z-index: 1;
  width: 100%;
  margin-bottom: auto;
}


.main .res {
  height: 60px;
  width: 140px;
  color: white;
  font-style: italic;
  text-align: center;
  background-color: rgb(114, 22, 22);
  position: absolute;
  top: 400px;
  right: 55%;

  cursor: pointer;
  &:hover {
    background-color: rgb(118, 57, 57);
    color: white;
    transition: 0.5s;
  }

}
.main .events{
  height: 60px;
  width: 140px;
  color: white;
  font-style: italic;
  text-align: center;
  background-color: rgb(114, 22, 22);
  position: absolute;
  top: 400px;
  left: 55%;

  cursor: pointer;
  &:hover {
    background-color: rgb(118, 57, 57);
    color: white;
    transition: 0.5s;
  }
}

.img-menu {
  height: auto;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
  box-shadow: 0px 0px 13px 3px rgb(114, 22, 22);
}

.description {
  color: white;
  text-align: start;
  width: 100%;
  font-size: 17px;
}

.description a {
  height: 60px;
  width: 140px;
  color: white;
  font-style: italic;
  text-align: center;
  background-color: rgb(114, 22, 22);
  margin-top: 5%;
   &:hover {
    background-color: rgb(118, 57, 57);
    color: white;
    transition: 0.5s;
  }
}

.description p {
  text-align: justify;
}

.description h1 {
  text-align: center;
}

.sundays {
  width: 100%;
  height: auto;
  background-color: rgb(114, 22, 22);
  margin-top: 40px;
  color: white;
  font-size: 17px;

}

.champ-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.brunch-description p {
  width: 100%;
  height: auto;
  text-align: justify;
}

.brunch-description h1 {
  padding-top: 30px;
  padding-bottom: 40px;
}

.brunch-description .res {
  height: 60px;
  width: 140px;
  color: rgb(114, 22, 22);
  font-style: italic;
  text-align: center;
  background-color: white;

   &:hover {
    background-color: rgb(147, 124, 124);
    color: white;
    transition: 0.5s;
  }
}

.carousel {
  height: 545px;
  color: white;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.carousel p {
  font-size: 16;
}

.carousel-description {
  font-size: 16;
}

.carousel h2 {
  margin-bottom: 20px;
  font-style: italic;
}


#carouselExampleFade {
  height: auto;
}
.carousel-item .img{
  object-fit: cover;
}
