.events {
  color: white;
  position: relative;
  font-style: italic;
  z-index: 1;
  h1 {
    font-size: 4vw;
  }
  p {
    font-size: 2vw;
   }
}

.pdr-img {
  opacity: 0.6;
  max-width: 100%;
  height: auto;

}

.line {
  color: white;
}
