.navbar a {
  color: white;
  text-align: center;
  margin-right: 20px;
  z-index: 1;
  font-size: 16px;
  padding: 0%;
  position: relative;
}

.black-background {
  background-color: rgb(97, 18, 18); /* Set the background color to black */
  transition: ease-out;
  height: 80px;
}
